<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Please sign in</title>
<link rel="stylesheet" href="css/login.css">

<body style="background-image:url('images/cartoon-cloud-sky-background-4.jpg')">
    <div class="container">
        <div>
            <h1>Messenger</h1>
        </div>
        <a href="/oauth2/authorization/google" class="google-btn">
            <img src="images/6929234_google_logo_icon.png" alt="Google Logo">
            Login with Google
        </a>
        <div class="version">v1.0.0</div>
    </div>
</body>

</html>