body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 300px;
    background-color: #00AEEF;
    border-radius: 10px;
    padding: 10 30 30 30;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.container h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}
.google-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 61px;
    font-size: 18px;
    color: #444;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s;
}
.google-btn:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.google-btn img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.version {
    color: white;
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}